
@media only screen and (max-width: 992px){
    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    div{
        margin: 15px;
    }
    #visual-hierarchy{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #contrast{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #white-space{
        grid-column: 1/2;
        grid-row: 3/4;
    }
}