body{
    max-width: 50%;
    margin: 0 auto;
    font-family: 'Roboto Mono', monospace, Arial;
}
header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 200px;
    margin: 0 auto;
    align-items: center;
    justify-items: center;
}
h1{
    grid-column: 2/3;
    text-align: center;
    font-size: 40px;
}
img {
    width: 110px;
    height: 150px;
    grid-column: 1/2;
}

h2{
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
}
main {
    text-align: left;
    font-size: 20px;
}
footer {
    margin: 0 auto;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
}
